<nav>
   <div class="site-title">
      <a href="/">Blog Vargas</a>
      <p>A Net VG Vargas site</p>
   </div>
   <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blogs</a></li>
   </ul>
</nav>